<launch>

  <!-- Choose visualization -->
  <arg name="rviz" default="true" />
  <arg name="rtabmapviz" default="false" />
  <arg name="local_bundle" default="false" />

  <!-- <param name="use_sim_time" type="bool" value="True"/> -->

  <!-- Just to uncompress images for stereo_image_rect -->
  <!-- <node name="republish_left"  type="republish" pkg="image_transport" args="compressed -->
  <!--      in:=/stereo_camera/left/image_raw_color raw out:=/stereo_camera/left/image_raw_color_relay" /> -->
  <!-- <node name="republish_right" type="republish" pkg="image_transport" args="compressed -->
  <!--      in:=/stereo_camera/right/image_raw_color raw out:=/stereo_camera/right/image_raw_color_relay" /> -->

  <!-- Run the ROS package stereo_image_proc for image rectification -->
  <!-- <group ns="/stereo_camera" > -->
  <!--   <node pkg="nodelet" type="nodelet" name="stereo_nodelet"  args="manager"/> -->

  <!--   <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"> -->
  <!--     <remap from="left/image_raw"    to="left/image_raw_color_relay"/> -->
  <!--     <remap from="left/camera_info"  to="left/camera_info"/> -->
  <!--     <remap from="right/image_raw"   to="right/image_raw_color_relay"/> -->
  <!--     <remap from="right/camera_info" to="right/camera_info"/> -->
  <!--     <param name="disparity_range" value="128"/> -->
  <!--   </node> -->
  <!-- </group> -->

  <!-- <node name="camera_to_zed_frame" -->
  <!--       pkg="tf" type="static_transform_publisher" -->
  <!--       args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 zed_center zed_initial_frame 100" /> -->
  <!-- <node name="zed_to_zed_current" -->
  <!--       pkg="tf" type="static_transform_publisher" -->
  <!--       args="0 0 0 0 0 0 zed_current_frame zed_left_camera 100" /> -->

  <!-- <node name="base_footprint_to_zed_left_camera" -->
  <!--       pkg="tf" type="static_transform_publisher" -->
  <!--       args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 base_footprint zed_left_camera 100" /> -->

  <group ns="rtabmap">

    <!-- Stereo Odometry -->
    <!-- <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen"> -->
    <!--   <remap from="left/image_rect"       to="/stereo_camera/left/image_rect_color"/> -->
    <!--   <remap from="right/image_rect"      to="/stereo_camera/right/image_rect_color"/> -->
    <!--   <remap from="left/camera_info"      to="/stereo_camera/left/camera_info"/> -->
    <!--   <remap from="right/camera_info"     to="/stereo_camera/right/camera_info"/> -->
    <!--   <remap from="odom"                  to="/stereo_odometry"/> -->

    <!--   <param name="frame_id"      type="string" value="base_footprint"/> -->
    <!--   <param name="odom_frame_id" type="string" value="odom"/> -->
    <!--   <param name="publish_tf" type="bool" value="false"/> -->

    <!--   <param name="Odom/Strategy"      type="string" value="0"/> -->

    <!--   <param name="Vis/EstimationType" type="string" value="1"/> -->

    <!--   <param name="Vis/MaxDepth"       type="string" value="0"/> -->
    <!--   <param name="Odom/GuessMotion" type="string" value="true"/> -->
    <!--   <param name="Vis/MinInliers"     type="string" value="10"/> -->
    <!--   <param if="$(arg local_bundle)" name="OdomF2M/BundleAdjustment" type="string" value="1"/> -->
    <!--   <param name="Odom/FillInfoData"  type="string" value="$(arg rtabmapviz)"/> -->
    <!--   <param name="OdomF2M/MaxSize"    type="string" value="1000"/> -->
    <!--   <param name="GFTT/MinDistance"   type="string" value="10"/> -->
    <!--   <param name="GFTT/QualityLevel"  type="string" value="0.00001"/> -->
    <!-- </node> -->

    <!-- Visual SLAM: args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <param name="depth_topic"      type="string" value="/camera/depth/depth_registered"/>
      <param name="approx_sync"      type="bool" value="false"/>
      <param name="frame_id"         type="string" value="base_footprint"/>
      <param name="odom_frame_id"    type="string" value="odom"/>
      <param name="subscribe_stereo" type="bool" value="true"/>
      <param name="subscribe_depth"  type="bool" value="false"/>
      <param name="approx_sync"      type="bool" value="false"/>

      <remap from="left/image_rect"   to="/camera/left/image_rect_color"/>
      <remap from="right/image_rect"  to="/camera/right/image_rect_color"/>
      <remap from="left/camera_info"  to="/camera/left/camera_info"/>
      <remap from="right/camera_info" to="/camera/right/camera_info"/>

      <!-- <remap from="odom" to="/stereo_odometry"/> -->
      <!-- <remap from="odom" to="odom"/> -->

      <param name="queue_size" type="int" value="30"/>
      <param name="map_negative_poses_ignored" type="bool" value="true"/>

      <!-- RTAB-Map's parameters -->
      <param name="Rtabmap/TimeThr"                   type="string" value="700"/>
      <param name="Grid/DepthDecimation"              type="string" value="4"/>
      <param name="Grid/FlatObstacleDetected"         type="string" value="true"/>
      <param name="Kp/MaxDepth"                       type="string" value="0"/>
      <param name="Kp/DetectorStrategy"               type="string" value="6"/>
      <param name="Vis/EstimationType"                type="string" value="1"/>   <!-- 0=3D->3D, 1=3D->2D (PnP) -->
      <param name="Vis/MaxDepth"                      type="string" value="0"/>
      <param name="RGBD/CreateOccupancyGrid"          type="string" value="true"/>
    </node>

    <!-- Visualisation RTAB-Map -->
    <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz"
          args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
      <param name="subscribe_stereo"    type="bool" value="true"/>
      <param name="subscribe_odom_info" type="bool" value="true"/>
      <param name="queue_size"          type="int" value="10"/>
      <param name="frame_id"            type="string" value="base_footprint"/>

      <remap from="left/image_rect"  to="/stereo_camera/left/image_rect_color"/>
      <remap from="right/image_rect"  to="/stereo_camera/right/image_rect_color"/>
      <remap from="left/camera_info"  to="/stereo_camera/left/camera_info"/>
      <remap from="right/camera_info" to="/stereo_camera/right/camera_info"/>
      <remap from="odom_info"         to="odom_info"/>
      <!-- <remap from="odom"              to="odom"/> -->
      <remap from="mapData"           to="mapData"/>
    </node>

  </group>

  <!-- Visualisation RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/demo_stereo_outdoor.rviz"/>

</launch>
